{{ template "header.html" . }}

<div class="jumbotron">

    <br/><br/><br/>

    <div class="container">
        <h2>Internet Identity (ii) Project</h2>
        <p><i>pronounced "e", like Wii</i></p>
        <p><a href="https://github.com/jchavannes/iiproject">https://github.com/jchavannes/iiproject</a></p>
    </div>

    <div class="container">
        <br/><br/>
        <p>
            <a class="btn btn-success btn-lg" href="signup">Signup</a>
            &nbsp; or &nbsp;
            <a class="btn btn-primary btn-lg" href="login" role="button">Login</a>
        </p>
    </div>

</div>

{{ template "footer.html" . }}
