{{ template "header.html" . }}

<div class="jumbotron">
    <div class="container login">

        <br/><br/><br/>
        <h2>Dashboard</h2>
    </div>
    <div class="container">
        <p>
            <a href="edit-profile">Edit profile</a>
        </p>
    </div>
    <div class="container">
        <h4>View Id</h4>
        <form id="view-id">
            <label for="input-id">eId</label>
            <br/>
            <input id="input-id" type="text" name="id" />
            <input type="submit" value="View" />
        </form>
    </div>
    <div id="profile-area" class="container"></div>
</div>

<script type="text/javascript">
    $(function() {
        iiApp.Form.ViewId($("#view-id"), $("#profile-area"));
    });
</script>

{{ template "footer.html" . }}
