{{ template "header.html" . }}

<div class="jumbotron">
    <div class="container login">
        <br/><br/><br/>
        <h2>Dashboard</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Actions</div>
                    <div class="panel-body">
                        <p>
                            <a class="btn btn-default" href="edit-profile">Edit profile</a>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Contacts</div>
                    <div class="panel-body">
                        <form id="add-contact">
                            <div class="row">
                                <div id="contact-list" class="col-sm-12">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="input-id">eId</label>
                                </div>
                                <div class="col-md-6">
                                    <input id="input-id" class="form-control" type="text" name="id" />
                                </div>
                                <div class="col-md-4">
                                    <input class="btn btn-primary" type="submit" value="Add Contact" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">View Profile</div>
                    <div class="panel-body">
                        <form id="view-id">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="input-id">eId</label>
                                </div>
                                <div class="col-md-6">
                                    <input id="input-id" class="form-control" type="text" name="id" />
                                </div>
                                <div class="col-md-4">
                                    <input class="btn btn-primary" type="submit" value="View" />
                                </div>
                            </div>
                        </form>
                        <hr/>
                        <div id="profile-area" class="container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        iiApp.Form.ViewId($("#view-id"), $("#profile-area"));
        iiApp.Form.AddContact($("#add-contact"), $("#contact-list"));
        iiApp.Section.ContactList($("#contact-list"));
    });
</script>

{{ template "footer.html" . }}
