{{ template "header.html" . }}

<div class="jumbotron">
    <div class="container login">
        <br/><br/><br/>
        <h2>Edit Profile</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Actions</div>
                    <div class="panel-body">
                        <p>
                            <a class="btn btn-primary" href="dashboard">Back to dashboard</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Profile</div>
                    <div class="panel-body">
                        <form id="edit-profile">
                            <textarea id="input-id" class="form-control" name="profile">{{ .Profile }}</textarea>
                            <br/>
                            <p>
                                <input type="submit" class="btn btn-primary" value="Save"/>
                                &nbsp;
                                <span id="profile-saved">Profile saved</span>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        iiApp.Form.EditProfile($("#edit-profile"), $("#profile-saved"));
    });
</script>

{{ template "footer.html" . }}
