{{ template "header.html" . }}

<div class="jumbotron">
    <div class="container login">
        <br/><br/><br/>
        <h2>Messages</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Actions</div>
                    <div class="panel-body">
                        <p>
                            <a class="btn btn-primary" href="dashboard">Dashboard</a>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Inbox</div>
                    <div id="inbox" class="panel-body">
                        {{ range $i, $message := .Messages }}
                        <p>
                            {{ $message.Message }}
                        </p>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">New Message</div>
                    <div class="panel-body">
                        <form id="new-message">
                            <p>
                                <label for="form-recipient">Recipient</label>
                                <!--email_off-->
                                <select id="form-recipient" name="recipient" class="form-control">
                                    {{ range $i, $contact := .Contacts }}
                                    <option>{{ $contact.Eid }}</option>
                                    {{ end }}
                                </select>
                                <!--/email_off-->
                            </p>
                            <p>
                                <label for="form-message">Message</label>
                                <textarea id="form-message" name="message" class="form-control"></textarea>
                            </p>
                            <p>
                                <input type="submit" class="btn btn-primary" value="Send" />
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        iiApp.Form.SendMessage($("#new-message"));
    });
</script>

{{ template "footer.html" . }}
